/* 상단 */
.header{
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 99;
    background-color: #fff;
}
/* header-bg */
.header-bg{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    /* height: 400px; */
    height: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}
.header-inner{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1800px;
    /* background-color: rgb(223, 223, 223); */
}
.logo{
    width: 217px;
}
.logo img{
    width: 100%;
}
/* 메뉴 */
nav{

}
.gnb{
    display: flex;
    width: calc(178px * 6);
    height: 80px;
    /* background-color: skyblue; */
}
.gnb > li{
    width: calc(100% / 6);
    height: 100%;
    /* background-color:  rgb(198, 221, 255); */
}
.gnb > li > a{
    line-height: 80px;
    font-size: 19px;
    color: #000;
}
.gnb > li:hover > a{
    color: rgb(231, 6, 6,);
}
.depth2{
    opacity: 0;
    /* opacity: 0 이라도 요소가 투명한 상태로 남아있으므로 */
    /* visibility: hidden 으로 완전히 사라지게 만든다. */
    visibility: hidden;
    padding: 40px 0;
    display: none;
    transition: all 0.5s;
    /* background-color: royalblue; */
}
.depth2 > li > a{
    line-height: 35px;
    color: #fff;
}
/* 메뉴 호버했을 때 */
.gnb:hover .depth2{
    opacity: 1;
    visibility: visible;
}
/* 언어 */
.lang{
    display: flex;
    align-items: center;
    width: 177px;
    gap: 10px;
}
.lang a{
    padding: 0 10px;
    font-size: 15px;
    font-family: 'NotoSansMedium';
    text-transform: uppercase;
    font-weight: bold;
    /* color: rgb(136, 136, 136); */
}
/* 이미지 */
.lang > a{
    width: 68px;
    padding-top: 2px;
}
.lang img{
    width: 100%;
}
/* 언어 리스트 */
.lang-list{
    display: flex;
}
.lang-list li{
    position: relative;
}
.lang-list li::after{
    position: absolute;
    right: -2px;
    top: 8px;
    width: 1px;
    height: 11px;
    background: #999;
    content: '';
}
.lang-list li:last-child::after{
    content: none;
}
.lang-list li:nth-child(2) a{
    color: #000;
}